<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rusdelphi.infotecsservice">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <service
            android:name="com.rusdelphi.infotecsservice.DecomposeService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.rusdelphi.infoteksservice.START_SERVICE" />
            </intent-filter>
        </service>
    </application>

</manifest>
